@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


div,
section {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;

  marg h1 {
    font-weight: 100;
  }

}